
{% extends "layout/layout.html.twig" %}
{% block content %}
    <div id="carouselControls" class="carousel slide slide-product" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="gallery_image" href="{{ asset(vehicule.image) }}">
                    <img class="d-block w-100" src="{{ asset(vehicule.image) }}" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="gallery_image" href="{{ asset(vehicule.image) }}">
                    <img class="d-block w-100" src="{{ asset(vehicule.image) }}" alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="gallery_image" href="{{ asset(vehicule.image) }}">
                    <img class="d-block w-100" src="{{ asset(vehicule.image) }}" alt="Third slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<div class="container-fluid product">
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1 class="display-4">Caractéristiques</h1>
                <hr class="my-3">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Caractéristique</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Couleur</td>
                        <td>{{ vehicule.couleur }}</td>
                    </tr>
                    <tr>
                        <td>Numero de Série</td>
                        <td>{{ vehicule.numserie }}</td>
                    </tr>
                    <tr>
                        <td>Plaque d'immatriculation</td>
                        <td>{{ vehicule.plaqueimma }}</td>
                    </tr>
                    <tr>
                        <td>Nombre de Kilométrage</td>
                        <td>{{ vehicule.nbkm }}</td>
                    </tr>
                    <tr>
                        <td>Date d'achat</td>
                        <td>{{ vehicule.dateachat|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <td>Prix d'achat</td>
                        <td>{{ vehicule.prixachat }}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Plus</a>
                </p>-->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ vehicule.modele }}</h1>
                </div>
                <div class="col-sm-12">
                    <h2>{{ (vehicule.prixachat)|number_format(2, ',', ' ') }} €</h2>
                </div>
            </div>
            <hr class="hr-primary" />
            <ul class="wrap">
                <li class="ac"><strong><i class="fa fa-snowflake-o" aria-hidden="true"></i></strong>Climatisation</li>
                <li class="seats"><strong><i class="fa fa-male" aria-hidden="true"></i></strong>5 Places</li>
                <li class="transmission"><strong><i class="fa fa-arrows" aria-hidden="true"></i></strong>Manuelle</li>
                <li class="doors-4"><strong><i class="fa fa-car" aria-hidden="true"></i></strong>5 Portes</li>
                <li class="case_big"><strong><i class="fa fa-suitcase" aria-hidden="true"></i></strong>1 Valise(s)</li>
                <li class="case_small"><strong><i class="fa fa-shopping-bag" aria-hidden="true"></i></strong>2 Sacs</li>
                <li class="sx-res-minage-info"><strong><i class="fa fa-id-card-o" aria-hidden="true"></i></strong>à partir de 18 ans</li>
            </ul>
            <!--<h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Durée</span>
            </h4>-->

                <a href="{{  path('location_view', {'id': vehicule.id}) }}" class="btn btn-primary" type="submit">Reservation</a>

        </div>
    </div>
    <!-- /.row -->
    <hr />
    <h3>Voir aussi</h3>
    <div class="row">
        {% for option in options %}
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="{{  asset(option.image) }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ option.modele }}</h4>
                        <p class="card-text">{{ option.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('produit_view', {'id': option.id}) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</div>
    {% endblock %}