
{% extends "layout/layout.html.twig" %}
{% block content %}
<div class="container-fluid shop">
    <div class="row">
        <!-- /.col-lg-2 -->
        <div class="col-lg-2">
        {{ render(controller('App\\Controller\\VehiculeController::filterColAction')) }}

        </div>
        <div class="col-lg-10">
            <div class="feed"></div>
            {% if promo is defined %}
                <div id="carouselIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <h3>-50% sur votre prochaine location pour l'achat d'une carte fidélité</h3>
                            <img class="d-block img-fluid" src="{{ asset('img/promo.jpg') }}" alt="">
                            <p>Chaque offre du jour est valable 24 heures seulement : elle commence à minuit et s'achève à 23h59 (voir conditions en bas de cette page).</p>
                        </div>
                        <div class="carousel-item">
                            <h3>-50% sur votre prochaine location pour l'achat d'une carte fidélité</h3>
                            <img class="d-block img-fluid" src="{{ asset('img/promo.jpg') }}" alt="">
                            <p>Chaque offre du jour est valable 24 heures seulement : elle commence à minuit et s'achève à 23h59 (voir conditions en bas de cette page).</p>
                        </div>
                        <div class="carousel-item">
                            <h3>-50% sur votre prochaine location pour l'achat d'une carte fidélité</h3>
                            <img class="d-block img-fluid" src="{{ asset('img/promo.jpg') }}" alt="">
                            <p>Chaque offre du jour est valable 24 heures seulement : elle commence à minuit et s'achève à 23h59 (voir conditions en bas de cette page).</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% else %}
                <div style="margin-top: 25px"></div>
            {% endif %}


            <div class="row">
                {% for vehicule in vehicules %}
                    <p></p>
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="card h-100">
                            <a href="{{ path('produit_view', {'id': vehicule.id}) }}"><img class="card-img-top" src="{{ asset(vehicule.image) }}" alt=""></a>
                            <div class="card-header">
                                <h4><a href="{{ path('produit_view', {'id': vehicule.id}) }}">{{ vehicule.modele }}</a></h4>
                                <p>{{ (vehicule.prixachat)|number_format(2, ',', ' ') }} €</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ vehicule.description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="">Notes et commentaires </a>
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-10 -->

    </div>
    <!-- /.row -->
<script>
    $( document ).ready(function() {

        /*******************************************************/
        /************************ INPUT ************************/
        /*******************************************************/

        var countries = [
            {% for vehicule in vehicules %}
                {value: '{{ vehicule.modele }}', data: '{{ vehicule.numserie }}'},
            {% endfor %}
        ];

        $('.form-group input').autocomplete({
            lookup: countries,
            onSelect: function (suggestion) {
                console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
            }
        });
    });
</script>
</div>
{% endblock %}