<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eMove - Location de voiture et scooter</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fancybox.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}" ></script>
    <script src="{{ asset('js/autocomplete.min.js') }}"></script>
    <script src="{{ asset('js/jquery.bootpag.min.js') }}"></script>

</head>
<body>
{% include 'layout/menu.html.twig' %}

<div class="container container-login">
    <div class="col-sm-12">
        <!--Message SUCCESS/ERROR-->
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    <h3>Réinitialisation de votre mot de passe</h3>

    <p>Attention, vous êtes sur le point de réinitialiser votre mot de passe. Pour se faire veuillez renseigner votre adresse Email.</p>
    <style>button{margin-top: 20px;}</style>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% include 'layout/footer.html.twig' %}
</body>
</html>
