
{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="container reservation">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Resume</span>
                    <!--<span class="badge badge-primary badge-pill">3</span>-->
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ vehicule.modele }}</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">{{ (vehicule.prixachat)|number_format(2, ',', ' ') }} €</span>
                    </li>
                    {% if user.fidelitypoint > 100 %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div class="text-info">
                                <h6 class="my-0">Vous avez au moins 100 de fidélités !!!</h6>
                                <small class="text-muted">Vous avez 10 € de reduction</small>
                            </div>
                            <span class="text-muted">10€</span>
                        </li>
                    {% endif %}

                    {% set reduc = 0 %}
                {% if promos is not null %}
                    {% for promo in promos %}
                        {% set reduction = vehicule.prixachat * (1- promo.value/100) %}
                        <li class="list-group-item d-flex justify-content-between bg-light promotion">
                            <div class="text-success">
                                <h6 class="my-0">{{ promo.label }}</h6>
                                <small>{{ promo.description }}</small>
                            </div>
                            <span class="text-success">{{ promo.value }}%</span>
                        </li>
                    {% set reduc = promo.value %}
                    {% endfor %}
                {% endif %}
                {% set total = vehicule.prixachat - (vehicule.prixachat * reduc/100) %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (€)</span>
                        <strong>{{ (total)|number_format(2, ',', ' ') }} €</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <h4 class="mb-3">Facturation</h4>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_widget(form.start_date) }}
                            <div class="invalid-feedback">
                                Une date valide est requis.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_widget(form.end_date) }}
                            <div class="invalid-feedback">
                                Un nom valide est requis.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Sauvegarder cette information pour la prochaine fois</label>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="submit">
                        <strong>RESERVER <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></strong>
                    </button>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}