
<h3>Confirmation de votre commande</h3>

{{ user.firstName }} {{ user.lastName }}

Votre location du vehicule pour {{ vehicule.marque.label }} {{ vehicule.modele }}

du {{ location.startDate|date('d/m/Y') }} au {{ location.endDate|date('d/m/Y') }} a été confirmer.


Vous pouvez consulter votre commande avec vos points de fidelité via votre profil.

A bientôt sur le site Emove

<img src="img/logo.png">


