{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="modal-dialog change">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Modifier votre mot de passe</h3>
                    {{ form_start(form_change_password) }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"
                                                                                aria-hidden="true"></i></span>
                        </div>
                        {{ form_widget(form_change_password.password.first) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"
                                                                                aria-hidden="true"></i></span>
                        </div>
                        {{ form_widget(form_change_password.password.second) }}
                    </div>
                    {{ form_widget(form_change_password.submit) }}
                    {{ form_end(form_change_password) }}
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <p>Copyrights © - <?php echo date('Y'); ?> - Presented by <strong><a href="#"
                                                                                                 target="_blank">Noche
                                        Design</a></strong></p>
                        </div>
                    </div>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}