{% extends "layout/layout.html.twig" %}
{% block content %}

    <div class="container profile">
        <div class="row">
            <div class="col-sm-12 banner">
                <img title="profile" class="img-circle img-responsive icon" src="{{ asset('img/profil.png') }}">
                <h3>User</h3>
            </div>
        </div>
        <div class="row menu" style="padding: 15px;">
            <div class="col-sm-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            </div>
            <div class="col-sm-4">
                <!--left col-->
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Commandes <i class="fa fa-dashboard fa-1x"></i></li>
                    <a href="#" class="list-group-item text-right" data="orders"><span class="pull-left"><strong>Vos commmandes</strong></span></a>
                    <a href="#" class="list-group-item text-right" data="advantage"><span class="pull-left"><strong>Vos avantages</strong></span></a>
                    <!--<a href="#" class="list-group-item text-right" data="favorite"><span class="pull-left"><strong class="">Favoris</strong></span></a>-->
                </ul>
                <ul class="list-group">
                    <li class="list-group-item text-muted">Paramètre du compte <i class="fa fa-address-card-o" aria-hidden="true"></i></li>
                    <!--<a href="#" class="list-group-item text-right" data="connexion"><span class="pull-left"><strong>Mot de passe</strong></span></a>-->
                    <a href="#" class="list-group-item text-right" data="information"><span class="pull-left"><strong>Informations personnelles</strong></span></a>
                    <a href="#" class="list-group-item text-right" data="connexion"><span class="pull-left"><strong>Paramètre de connexion</strong></span></a>
                    <!--<a href="#" class="list-group-item text-right" data="plan"><span class="pull-left"><strong class="">Bon Plans</strong></span></a>-->
                </ul>
            </div>
            <!--/col-3-->
            <div class="col-sm-8" style="" contenteditable="false">
                <div class="jumbotron-fluid orders ">
                    <div class="container">
                        <h2>Mes dernières commandes</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr class="bg-danger">
                                <th scope="col">N° Commande</th>
                                <th scope="col">Vehicule</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Facture</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in app.user.locations %}
                                <tr>
                                    <th scope="row">{{ location.id }}</th>
                                    <td>{{ location.vehicule.marque.label }} {{ location.vehicule.modele }}</td>
                                    <td>{{ location.startDate|date('d/m/Y') }}</td>
                                    <td>{{ location.endDate|date('d/m/Y') }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger btn-xs" href="{{ path('pdf_profil', {'id' : location.id }) }}" ><span class="glyphicon glyphicon-remove"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="jumbotron-fluid advantage ">
                    <div class="container">
                        <h2>Avantages</h2>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <div class="text">
                                        <var>3</var>
                                        <label class="text-muted">Points de fidélité restant</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-star"></i>
                                    </div>
                                    <div class="text">
                                        <var>614</var>
                                        <label class="text-muted">Points dépensés</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-tags"></i>
                                    </div>
                                    <div class="text">
                                        <var>73</var>
                                        <label class="text-muted">Commande passé</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </div>
                                    <div class="text">
                                        <var>5.00€</var>
                                        <label class="text-muted">Réduction</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron-fluid favorite ">
                    <div class="container">
                        <h2>Favoris</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr class="bg-danger">
                                <th scope="col">N° Commande</th>
                                <th scope="col">Vehicule</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Lien</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="jumbotron-fluid connexion ">
                    <div class="container">
                        <h2>Paramètre de connexion</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr class="bg-success">
                                <th scope="col"><a href="{{ path('change_password', {'id' : app.user.id }) }}" style="color:black;">Modifier votre mot de passe</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <td></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="jumbotron-fluid information ">
                    <div class="container">
                        <h2>Informations personnelles</h2>
                        <div class="row">
                            <div class="col-md-9 col-xl-10">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <form id="contact-form" name="contact-form" action="" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.lastname) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.firstname) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.birthdate) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.adresse) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                {{ form_widget(form.telnum) }}
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-info btn-lg" value="Modifier">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron-fluid">

                </div>
            </div>
            <div id="push"></div>
        </div>
    </div>
{% endblock %}